body{
    &.dark{
        background-color: $bg-dark;
        color: $color-white;

        .navbar{
            background-color: $color-light-dark;
        }

        .form{

           .form-control{
            background-color: $color-light-dark;
            
            label{
                color: $color-white;
            }

            input{
                background-color: $color-light-dark;
                color: $color-white;

                &::placeholder{
                    color: $color-white;
                }
            }
           }
        }

        .cards{

            .card{
                background-color: $color-light-dark;
            }
        }

        .region-detail-content{
            .left-side{
                a{
                    background-color: $color-light-dark;
                    color: $color-white;

                    svg{
                       path{
                        fill: $color-white;
                       }
                    }
                }
            }

            .right-side{
                .border-countries{
                    .country-link{
                        background-color: $color-light-dark;
                        color: $color-white;
                        font-weight: 300;
                        opacity: .7;
                    }
                }
            }
        }

    }

  
}