.region-detail-content {
  display: flex;
  align-items: center;
  margin-top: 80px;
  flex-wrap: wrap;
  gap: 120px;

  .left-side {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      width: 136px;
      height: 40px;
      background-color: $bg-light;
      border-radius: 6px;
      color: $color-black;
    }

    .detail-img-wrapper {
      max-width: 550px;

      margin-top: 60px;
    }
  }

  .right-side {
    flex: 1;
    display: flex;
    flex-direction: column;

    .detail-content {
      display: flex;
      gap: 117px;
      flex-wrap: wrap;
  

      .detail-left,
      .detail-right {
        display: flex;
        flex-direction: column;
        gap: 16px;

        h6 {
          font-weight: 300;
        }
      }
      .detail-left{
        .region-title{
            margin-bottom: 24px;
        }
      }

      .detail-right {
        justify-content: center;
      }
    }

    .border-countries {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 70px;
      gap: 10px;
      margin-bottom: 60px;

      .country-link {
        padding: 5px 27px;
        background-color: $color-white;
        color: $color-black;
        border-radius: 2px;
        border: 0px solid #979797;
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

@media (max-width : 478px){
  .region-detail-content{

    .right-side{
      .detail-content{
        gap: 40px;
      }

    }
  }
}
