.form {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;

  .form-control {

    input{
        border: none;
    }
    &:first-child {
      width: 480px;
      height: 56px;
      position: relative;

      input {
        width: 100%;
        height: 100%;
        text-indent: 74px;
        border: none;
        border-radius: 5px;
      }
      .img-wrapper {
        position: absolute;
        left: 32px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

@media (max-width: 478px) {
  .form {
    flex-wrap: wrap;
    gap: 40px;
    .form-control {
     
     
      &:first-child {
        width: 100%;
      }
    }
  }
}
